@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.page-wrapper 					{ display:block; width:100%;}
#header							{ padding:30px 0;}
.row.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
#nav ul li 						{ display:inline-block; text-transform:uppercase}
#nav ul li:not(:last-child)		{ margin-right:40px;}
#nav ul li a					{ color:#8e8d8d; text-decoration:none;font-family: 'Raleway', sans-serif; font-size:14px; font-weight:600;position:relative; padding-bottom:30px;}
#nav ul li a:after				{ -webkit-transition: all 0.5s ease-in;-moz-transition: all 0.5s ease-in;-ms-transition: all 0.5s ease-in;-o-transition: all 0.5s ease-in;transition: all 0.5s ease-in;position:absolute; bottom:0px; content:''; width:0; height:3px; background:#da2037; left:0; opacity:0;}
#nav ul li a:hover:after		{ opacity:1;width:100%}
.rightheader ul li				{ display:inline-block;} 
.rightheader ul li a			{ padding-left:30px;color:#da2037; text-decoration:none;font-family: 'Raleway', sans-serif; font-size:13px;font-weight:600; position:relative; padding-bottom:30px; text-transform:uppercase}
.rightheader ul li:nth-child(2) a:after		{ position:absolute; content:''; top:15%; transform:translateY(-50%);left:0px; background:url('../images/locator.jpg') no-repeat; width:20px; height:25px;background-size:cover;}
.rightheader ul li:nth-child(3) a:after		{ position:absolute; content:''; top:15%; transform:translateY(-50%);left:0px; background:url('../images/call.jpg') no-repeat; width:20px; height:25px;background-size:cover;}
.rightheader ul li a:after		{ position:absolute; content:''; top:15%; transform:translateY(-50%);left:0px; background:url('../images/shop.jpg') no-repeat; width:20px; height:25px;background-size:cover;}
.rightheader ul li:not(:last-child)   { margin-right:30px;}















.bannerText
{
	position: absolute;
	top: 35%;
	left: 4%;
}

.single-item .slick-slide
{
	position: relative;

}
.bannerText
{
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	
}
.blueText{color: #69bcbb; font-weight: 600;}
.single-item .slick-dots{
	font-size: 0px;
	position: absolute;
        bottom: 40px;
    left: 50px;
    display: flex;align-items: center;

}
.single-item .slick-dots button{
    background-color: #b7b7b7;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    padding: 0;
    outline: none;
    border: 0px;
      -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.single-item .slick-dots li
{
	display: inline-block; margin: 5px 2px;
}
.single-item .slick-dots .slick-active button{ 
	background-color: #da2037;
	width: 10px;
	height: 5px;
	border-radius: 10px ;

}
.single-item .slick-slide{outline: none;}
.white{color: #ffffff;font-weight: 300;}
.explore,.explore:hover {
   font-size: 14px;
    margin-top: -60px;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    top: 30px;
    left: 3px;


}
.explore:hover{color: #da2037;}
.explore.red,.explore.red:hover{color: #da2037;}
.explore.white:hover{color: #ffffff;}


.explore.white:after {
    content: '';
    border: 0.4px solid #ffffff;
    width: 0px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 130%;
    -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.explore.red:after {
    content: '';
    border: 0.4px solid #da2037;
    width: 0px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 130%;
    -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.explore.white:hover:after ,.explore.red:hover:after{width:100px;}

#icons
{
	background-color: #fffdf8;
	padding: 30px 0;
}
.iconsList{
	text-align: center;
	padding: 0;
	margin: 0px;
}
.imgContainer img{
	 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.shadowBox
{
	display: inline-block;	
}
.textContainer {
    font-size: 16px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #333333;
    font-family: 'Raleway', sans-serif;
}